<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MindtekTestNGAutomation">
    <test name="Automating UI">
        <groups>
            <run>
                <include name="regression"></include>
            </run>
        </groups>
        <classes>
            <class name="tests.StoreTests"></class>
            <class name="tests.BlazedemoTest"></class>
            <class name="tests.RedShelfTests"></class>
            <class name="tests.StoreRegisterFunctionalityTests"></class>
            <class name="tests.StoreAddCartTests"></class>
            <class name="tests.SauceDemoTests"></class>
        </classes>
    </test>
</suite>