<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MindtekTestNGAutomation">
    <test name="Automating UI">
        <groups>
            <run>
                <include name="regression"></include>
            </run>
        </groups>
        <classes>
            <class name="tests.TruliaTest"></class>

        </classes>
    </test>
</suite>